
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0; /* Fondo gris claro */
            margin: 0;
        }
        .button {
            background-color: #007bff; /* Azul vibrante */
            color: white;
            padding: 15px 30px;
            margin: 10px 0;
            border: none;
            border-radius: 10px; /* Bordes redondeados */
            text-decoration: underline; /* Texto subrayado */
            font-size: 1.2em;
            cursor: pointer;
            text-align: center;
            width: 200px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .button:hover {
            opacity: 0.9;
        }
